body{
    background-color: black;
}

img{
    width: 100%;
    border: 5px solid white;
    
}

.align{
    width: 50%;
    margin-left: 25%;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
  
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}
  
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
  
h1,p{
    
    color: white;
    text-align: center;
}